<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Book List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<div class="col-md-4">
			<h1>My Cart page</h1>
		</div>
		<div class="col-md-4">
			<i>Welcome <b sec:authentication="name"></b>, your role is <b
				sec:authentication="principal.authorities"></b>
		</div>
		<div class="col-md-4" style="padding: 20px 0">
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" class="btn btn-sm btn-danger" />
			</form>
		</div>

		<h1>This is my cart page where you are supported to see your
			items and can return to available page</h1>	
			
			<table class="table table-striped">	
			<h2>My Products</h2>
			<tr>
				<th>Products </th>
				<th>Status         </th>
					<th>Who is keeping it</th>
				<th></th>
				<th></th>
			</tr>
			<tr th:each="item: ${items}" >
				<td th:text="${item.productName}"></td>
				<td th:text="${item.status}"></td>
				<td th:text="${item.borrower.username}"></td>		
				<td><a th:href="@{/deleteInMyCart/{id}(id=${item.id})}" class="btn btn-xs btn-danger">Delete</a></td>
				<td><a th:href="@{/edit/{id}(id=${item.id})}" class="btn btn-xs btn-danger">Edit</a></td>
			</tr>	
		</table>
		
		<table class="table table-striped">	
			<h2>Borrow Items</h2>
			<tr>
			<th>Id</th>
				<th>Products</th>
				<th>Status         </th>
					<th>I am borrowing it from</th>
				<th></th>
				<th></th>
			</tr>
			<tr th:each="borrow: ${borrow}" >
			<td th:text="${borrow.id}"></td>
				<td th:text="${borrow.productName}"></td>
				<td th:text="${borrow.status}"></td>
				<td th:text="${borrow.appuser.username}"></td>		
				<td><a th:href="@{/deleteInBorrow/{id}(id=${borrow.id})}" class="btn btn-xs btn-danger">Return</a></td>
				
				
			</tr>	
		</table>
		
	</div>
	<a href="/afterLogin" class="btn btn-primary">Back to Available
		Items page </a>
</body>
</html>